<h1>Services</h1>

<app-counter></app-counter>

<div class="card">
  <h2>App counter {{appCounterService.counter}}</h2>
  <button class="btn" (click)="appCounterService.increase()">increase</button>
  <button class="btn" (click)="appCounterService.decrease()">decrease</button>
</div>


<div class="card">
  <h2>Local counter {{localCounterService.counter}}</h2>
  <button class="btn" (click)="localCounterService.increase()">increase</button>
  <button class="btn" (click)="localCounterService.decrease()">decrease</button>
</div>
